.github-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* もし，2枚載せるならコメント外す */
    /* background-color: #FFF; */

}
.status1,.status2{
    width: 100%;

    /* もし，2枚載せるならコメントにする */
    background-color: #FFF;
}


.github-status img {
    width:100%; /* 高さを自動で調整（縦横の比率が違うので，どちらかしか合わせられない） */
}

/* パソコン向けのスタイル */
@media (min-width: 768px) {
    .github-status{
        flex-direction: row;
    }

    
    /* もし，2枚載せるならコメントにする*/
    .status1,.status2{
        width: 50%;
    }
}

